body
    {
        width: 100%;
        height: 100vh;
        background-color: #EDD9D9;
        display: flex;
        flex-direction: column;
        margin: 0px;
        overflow: hidden;
    }

    .div1
    {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .div3
    {
        margin-top: 70px;
        margin-left: 20px;
        width: 320px;
        height: 300px;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        
    }
    .barra
    {
        width: 360px;
        height: 20px;
        background-color: #7D0000;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        margin-top: 80px;
    }

    
    .barrinha
    {
        margin-top: 20px;
        margin-left: 310px;


    }

    .logo
    {
        margin-left: 15px;
    }

    .titulo
    {
        margin-left: 20px;
        margin-top: -45px;
    }

    /*div para aparecer a listagem do perfil*/

    .email
    {
        width: 250px;
        height: 20px;
        z-index: 2;
        position: absolute;
        font-size: 25px;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 20px;
        background-color: rgba(44, 119, 119, 0.895);
        border-radius:5px ;
    }